body {
  margin: 0;
  padding: 0;
  font-family: 'Ibarra Real Nova', serif;
  overflow-x: hidden;
}

.rounded-button {
  border-radius: 0.3em;
  background-color: #d1a474;
  border-color: #d1a474;
  padding: 0.5em 2em 0.5em 2em;
  transition: all 1s;
}

.rounded-button:hover {
  background-color: #b98e58;
  border-color: #b98e58;
}

.bordered-button {
  border-radius: 0.3em;
  border: 2px solid #d1a474;
  color: #d1a474;
  padding: 0.5em 1.5em 0.5em 1.5em;
  transition: all 1s;
}

.nav-link{
  font-weight: bold;
}

.bordered-button:hover {
  background-color: #d1a474;
  color: #fff;
}

.btn:first-child:active, :not(.btn-check)+.btn:active {
  color: inherit;
  background-color: inherit;
  border-color: inherit;
}

:not(.btn-check)+.btn:active {
  color: inherit;
  background-color: inherit;
  border-color: inherit;
}

.image-grid {
  padding-left: 8em;
  padding-right: 8em;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1em;
}

.image-grid img {
  padding: 0;
  margin: 0;
  width: 95%;
  height: 90%;
  border-radius: 0.3em;
  transition: all 1s;
}

.villa-image {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 0.3em;
  filter: blur(20px);
}

.link-img:hover {
  scale: 1.1;
  cursor: pointer;
}

.hero-header {
  color: #b98e58;
}

.hero-header {
  font-weight: 800;
  font-size: 50px;
}

.hero-p {
  font-weight: 300;
  font-size: 20px;
}

.column-gap {
  margin-right: 10px;
}

.grid {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas: 
  'Title Title'
  "Intro bidders"
  "locatie bod";
  gap: 1em;
  row-gap: 4em;
  column-gap: 5em;
}

.card-img {
  height: 60%;
}

.zindex {
  z-index: +1;
}

.google {
  height: 90%;
}

.Title{
  grid-area: Title;
}

.Intro {
  grid-area: Intro;
}

.bidders {
  grid-area: bidders;
}

.locatie {
  grid-area: locatie;
}

.bod {
  grid-area: bod;
}

.bg-gray {
  background-color: #f6f6f6;
  height: 24em;
  overflow: hidden;
}

.custom-input {
  max-width: 200px; 
  background-color: #f2f2f2; 
  border: none; 
  padding: 5px; 
  border-radius: 0;
}

.custom-input:focus {
  outline: none; 
  box-shadow: none;
  background-color: #f2f2f2;
}


